{
    "swagger": "2.0",
    "info": {
        "title": "Blockinfo API",
        "description": "Block information would be saved in mysql",
        "version": "1.0.0"
    },
    "host": "api.uber.com",
    "schemes": [
        "https"
    ],
    "basePath": "/v1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/blocks": {
            "get": {
                "summary": "blocks",
                "tags": [
                    "blocks"
                ],
                "responses": {
                    "200": {
                        "description": "number of blocks",
                        "schema": {
                            "type": "number"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/transactions": {
            "get": {
                "summary": "transactions",
                "tags": [
                    "transactions"
                ],
                "responses": {
                    "200": {
                        "description": "number of transactions",
                        "schema": {
                            "type": "number"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        }
    }
}